@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');

*{
  padding: 0;
  margin: 0;
  background-color: black;
}

a{
  text-decoration: none;
  color:rgb(34, 24, 24);
}

ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;

background-color: rgb(20, 20, 20);
padding: 15px 0px;


}


.btn{
  background-color: rgb(131, 119, 119);

}